@font-face {
  font-family: 'SanchezSlab';
  src: url("../webfonts/262E8F_0_0.eot");
  src: url("../webfonts/262E8F_0_0.eot?#iefix") format('embedded-opentype'), url("../webfonts/262E8F_0_0.woff") format('woff'), url("../webfonts/262E8F_0_0.ttf") format('truetype');
}
body {
  background-image: url("../img/fabric_of_squares_gray.png");
}
#calender {
  margin-top: 10px;
  padding-top: 30px;
  position: relative;
  font-size: 0;
}
#day_list {
  margin: 0 1px;
  border: none;
  position: absolute;
  top: 0;
  left: 40px;
  height: 100%;
  z-index: -2;
}
#day_list .day {
  height: 100%;
  width: 29px;
  margin-left: 1px;
}
#day_list .weekend {
  background: rgba(204,204,204,0.5);
}
.day {
  width: 30px;
  text-align: center;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -o-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
}
.day,
.month_name {
  font-size: 14px;
  font-family: SanchezSlab;
  height: 30px;
  line-height: 35px;
  vertical-align: middle;
  text-transform: uppercase;
  color: rgba(0,0,0,0.6);
  whitespace: nowrap;
}
.month_name,
.month,
.day {
  display: inline-block;
}
.month {
  border: 2px groove;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -o-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
  margin-top: 30px;
}
.month_name {
  font-weight: bold;
  width: 40px;
}
