day_width = 30px

.day
	width day_width
	text-align center

.day, .month_name
	height day_width
	line-height day_width
	vertical-align middle

.month_name, .month, .day
	display inline-block

.month_name
	width 80px