day_width = 30px
month_name_width = 40px

text_color = rgba(200, 200, 200, 0.6)

@font-face
	font-family: 'SanchezSlab'
	src: url('../webfonts/262E8F_0_0.eot')
	src:
		url('../webfonts/262E8F_0_0.eot?#iefix') format('embedded-opentype'),
		url('../webfonts/262E8F_0_0.woff') format('woff'),
		url('../webfonts/262E8F_0_0.ttf') format('truetype')

body
	font-family SanchezSlab
	color text_color
	background-image url('../img/dark_fish_skin.png')
	font-size 14px

#calender
	margin-top 10px
	padding-top day_width
	padding-bottom day_width * 2
	position relative
	font-size 0

#day_list
	margin 0 1px
	border none
	position absolute
	top 0
	left month_name_width
	height 100%
	z-index -2

	.day
		height 100%
		width day_width - 1px
		margin-left 1px

	.weekend
		background rgba(204, 204, 204, 0.2)

.day
	width day_width
	text-align center
	border-radius (day_width / 2)

.current
	background-color rgba(50, 50, 50, 0.5)
	box-shadow 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7)

.day, .month_name
	height day_width
	font-size 14px
	line-height day_width + 5px
	vertical-align middle
	text-transform uppercase
	whitespace nowrap

.month_name, .month, .day
	display inline-block

.month
	border 1px solid text_color //rgba(250, 250, 250, 0.7)
	border-radius (day_width / 2)
	margin-top day_width
	box-shadow(3px)

.month_name
	font-weight bold
	width month_name_width

